# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/plugins/es_product_enquiry

# ignore node dependency directories
node_modules/

.idea/

# ignore log files and databases
*.log
*.sql
*.sqlite
